* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  width: 90%;
  margin: auto;
}

.background .image10 {
  position: absolute;
  left: -8%;
  top: -8%;
  -webkit-transform: perspective(600px) rotateY(-13deg);
          transform: perspective(600px) rotateY(-13deg);
  z-index: -1;
}

.nav__hammasi {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__logo, .nav__kirish {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nav__btn {
  margin-left: 2rem;
  padding: 8px 20px;
  font-size: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__foo {
  margin-left: 2rem;
}

.nav__tad {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav__round {
  border-radius: 50%;
}

.header {
  margin-top: 3rem;
}

.header__hammasi {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__first {
  padding: 0 18rem 0 0;
}

.header__first h1 {
  font-size: 45px;
}

.header__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 5rem;
}

.header .kok {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #228BDA;
  border-radius: 3px;
  padding: 10px 20px;
}

.header .kok img {
  margin-left: 0.8rem;
}

.header .white {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 2rem;
}

.header .white img {
  margin-right: 0.8rem;
}

.header__second {
  position: relative;
}

.header__second .image1 {
  -webkit-transform: perspective(600px) rotateY(-15deg);
          transform: perspective(600px) rotateY(-15deg);
  margin-top: 30px;
}

.header__second .path2 {
  position: absolute;
  left: 1%;
  top: 15%;
}

.header__second .group1 {
  position: absolute;
  top: 40%;
  left: 70%;
}

.online {
  margin-top: 3rem;
}

.online h1 {
  margin-bottom: 2rem;
  text-align: center;
  font-family: 'ProximaNova';
  color: #2D3A45;
}

.online__hammasi {
  width: 60%;
  margin: auto;
}

.online__hammasi p {
  font-family: 'ProximaNova';
  font-size: 20px;
  color: #2D3A45;
}

.pics {
  margin-top: 6rem;
}

.pics__second {
  position: relative;
}

.pics__all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pics__first {
  position: relative;
}

.pics__img2 {
  -webkit-transform: perspective(600px) rotateY(15deg);
          transform: perspective(600px) rotateY(15deg);
}

.pics .group2 {
  position: absolute;
  left: -30%;
  z-index: -1;
  bottom: -5%;
}

.pics .free {
  position: absolute;
  left: 0%;
  top: 75%;
  -webkit-box-shadow: 10px 15px 20px 0 #e2dede;
          box-shadow: 10px 15px 20px 0 #e2dede;
}

.pics .slayd {
  color: white;
  background: #228BDA;
  -webkit-box-shadow: 0px 46px 57px rgba(116, 131, 143, 0.765762);
          box-shadow: 0px 46px 57px rgba(116, 131, 143, 0.765762);
  border-radius: 3.42px;
  position: absolute;
  width: 148px;
  height: 46px;
  left: -8%;
  top: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pics .natija {
  position: absolute;
  top: 40%;
  left: 80%;
  padding: 10px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 38px 48px rgba(116, 131, 143, 0.253879);
          box-shadow: 0px 38px 48px rgba(116, 131, 143, 0.253879);
  border-radius: 3.42px;
}

.pics .number {
  width: 27px;
  height: 27px;
  background: #86BE47;
  -webkit-box-shadow: 0px 2px 5px rgba(150, 239, 50, 0.668488);
          box-shadow: 0px 2px 5px rgba(150, 239, 50, 0.668488);
  border-radius: 3.42px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 0.8rem;
  padding: 5px 10px;
  color: white;
}

.pics .slayd img {
  margin-right: 0.8rem;
}

.pics .statistics {
  position: absolute;
  padding: 6px 20px;
  display: inline-block;
  -webkit-box-shadow: 0 15px 20px 0 #dcd8d8;
          box-shadow: 0 15px 20px 0 #dcd8d8;
  border-radius: 5px;
  left: 70%;
  top: -11%;
}

.pics .statistics .gr-button {
  background: #86BE47;
  -webkit-box-shadow: 0px 15px 19px rgba(152, 222, 73, 0.689658);
          box-shadow: 0px 15px 19px rgba(152, 222, 73, 0.689658);
  border-radius: 2.28px;
  width: 63px;
  height: 43px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  position: absolute;
  top: -10%;
  left: 75%;
}

.pics .statistics .rectangles {
  border: 1px solid #dad3d3;
  padding: 5px;
  border-radius: 5px;
}

.content {
  margin-top: 6rem;
  margin-bottom: 30rem;
}

.content__all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.content h1 {
  margin-top: 2rem;
  font-family: 'ProximaNova';
  font-size: 35px;
  line-height: 58px;
  color: #2D3A45;
}

.content p {
  margin-top: 2rem;
  font-family: 'ProximaNova';
  font-size: 20px;
  line-height: 28px;
  color: #2D3A45;
}

.content__first {
  width: 40%;
}

.content__first .kok {
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #228BDA;
  border-radius: 3px;
  padding: 10px 20px;
  border: 1px solid gray;
}

.content__first img {
  margin-left: 0.8rem;
}

.content__second {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.content__second .foo2 {
  -webkit-transform: perspective(600px) rotateY(-15deg);
          transform: perspective(600px) rotateY(-15deg);
}

.content .card {
  padding: 10px;
  -webkit-box-shadow: 0 3px 5px 0 black;
          box-shadow: 0 3px 5px 0 black;
  background-color: white;
  z-index: 1;
  position: relative;
  top: 60%;
  left: 20%;
  height: 200px;
}

.content .card ul {
  list-style: none;
  height: auto;
}

.content .card li {
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.content .oval {
  border-radius: 50%;
}

.content .red {
  padding: 3px;
  margin-bottom: 3px;
  background: linear-gradient(147.39deg, #FF8A9C 13.97%, #DB1634 92.67%);
}

.content .yellow {
  padding: 4px;
  margin-bottom: 3px;
  background: linear-gradient(147.39deg, #FFE58D 13.97%, #D98D07 92.67%);
}

.content .green {
  padding: 4px;
  margin-bottom: 3px;
  background: linear-gradient(147.39deg, #BDF77C 13.97%, #549A06 92.67%);
}

.content .blue {
  padding: 3px;
  margin-bottom: 3px;
  background: linear-gradient(147.39deg, #9BD5FF 13.97%, #228BDA 92.67%);
}

.kok {
  border: 1px solid gray;
}

.kok:hover {
  background-color: white;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  color: #228BDA;
  cursor: pointer;
}

button {
  cursor: pointer;
}

.finish {
  margin-top: 15rem;
  padding-top: 3rem;
  margin-bottom: 20rem;
  position: relative;
}

.finish .copy {
  position: absolute;
  left: 1%;
}

.finish__all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.finish__first {
  width: 50%;
}

.finish__first h1 {
  text-align: center;
  margin-bottom: 2rem;
}

.finish__first p {
  text-align: center;
  font-size: 20px;
}

.finish__second .green-div {
  position: absolute;
  left: 75%;
  top: -50%;
  width: 200px;
  height: 200px;
  background: linear-gradient(152.04deg, #BBFF6E 6.36%, #598F1D 97.81%);
  -webkit-box-shadow: 0px 38px 48px rgba(134, 190, 71, 0.480879);
          box-shadow: 0px 38px 48px rgba(134, 190, 71, 0.480879);
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.finish__second .blue-div {
  position: absolute;
  width: 200px;
  height: 200px;
  left: 64%;
  top: 100%;
  background: linear-gradient(147.39deg, #9BD5FF 13.97%, #228BDA 92.67%);
  -webkit-box-shadow: 0px 38px 48px rgba(34, 139, 218, 0.236642);
          box-shadow: 0px 38px 48px rgba(34, 139, 218, 0.236642);
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.finish__second .gr-dots {
  position: absolute;
  top: -90%;
  left: 83%;
  z-index: -1;
}

.finish__second .bl-dots {
  position: absolute;
  left: 59%;
  top: 145%;
  z-index: -1;
}

@media (max-width: 1000px) {
  .header__second img {
    width: 199%;
  }
  .group1 {
    height: 200px;
    position: absolute;
    top: 40%;
    left: 90%;
  }
}

@media (max-width: 899px) {
  .content {
    margin-bottom: 8rem;
  }
  .finish {
    background-color: #C4D0DA;
    padding: 3rem 0;
    margin: 4rem auto;
  }
  .finish__all {
    display: block;
  }
  .finish__second {
    display: none;
  }
  .finish__first {
    width: 100%;
    margin: 0 auto;
  }
  .copy {
    display: none;
  }
  .image10 {
    display: none;
  }
  .background {
    background-color: #f6f8fa;
  }
  .header__hammasi {
    display: block;
  }
  .header__first {
    padding: 0;
  }
  .header__buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header__second {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header__second .image1 {
    width: 100%;
    -webkit-transform: perspective(0) rotateY(0);
            transform: perspective(0) rotateY(0);
  }
  .path2 {
    display: none;
    position: absolute;
    left: 1%;
    top: 15%;
  }
  .slayd img {
    display: none;
  }
  .free {
    display: none;
  }
  .group2 {
    display: none;
  }
  .pics__second .statistics {
    display: none;
  }
  .natija {
    width: 25%;
  }
  .header__second .group1 {
    display: none;
  }
  .online__hammasi h1 {
    font-size: 40px;
  }
  .pics__all {
    display: block;
  }
  .pics__first {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 4rem;
  }
  .pics__img2 {
    width: 100%;
    -webkit-transform: perspective(0) rotateY(0);
            transform: perspective(0) rotateY(0);
  }
  .pics__second img {
    width: 100%;
  }
  .pics__second {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .content__all {
    display: block;
  }
  .content__first {
    width: 100%;
  }
  .btnt {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .rasm .foob {
    -webkit-transform: perspective(0px) rotateY(0deg);
            transform: perspective(0px) rotateY(0deg);
    width: 300px;
  }
  .content__second img {
    width: 100%;
    -webkit-transform: perspective(0) rotateY(0);
            transform: perspective(0) rotateY(0);
  }
  .content .rasm {
    margin-top: 3rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .content .card {
    display: none;
  }
}

@media (max-width: 539px) {
  .nav__btn {
    display: none;
  }
  .kurs {
    display: none;
  }
  .online .online__hammasi {
    width: 100%;
  }
  .online .online__hammasi h1 {
    font-size: 30px;
  }
  .header__first h1 {
    font-size: 30px;
    text-align: center;
  }
  .pics__first {
    margin-bottom: 4rem;
  }
}
/*# sourceMappingURL=style.css.map */