* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  width: 90%;
  margin: auto;
}

.nav__hammasi {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__logo, .nav__kirish {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nav__btn {
  margin-left: 2rem;
  padding: 8px 20px;
  font-size: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__foo {
  margin-left: 2rem;
}

.nav__tad {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav__round {
  border-radius: 50%;
}

.header {
  margin-top: 3rem;
}

.header__first {
  padding: 0 18rem 0 0;
}

.header__first h1 {
  font-size: 45px;
}

.header__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 5rem;
}

.header .kok {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #228BDA;
  border-radius: 3px;
  padding: 10px 20px;
}

.header .kok img {
  margin-left: 0.8rem;
}

.header .white {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 2rem;
}

.header .white img {
  margin-right: 0.8rem;
}

.header__second img {
  -webkit-transform: perspective(600px) rotateY(-15deg);
          transform: perspective(600px) rotateY(-15deg);
  margin-top: 30px;
}

.online {
  margin-top: 3rem;
}

.online h1 {
  margin-bottom: 2rem;
  text-align: center;
  font-family: 'ProximaNova';
  color: #2D3A45;
}

.online__hammasi {
  width: 60%;
  margin: auto;
}

.online__hammasi p {
  font-family: 'ProximaNova';
  font-size: 20px;
  color: #2D3A45;
}

.pics {
  margin-top: 6rem;
}

.pics__all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pics__img2 {
  -webkit-transform: perspective(600px) rotateY(15deg);
          transform: perspective(600px) rotateY(15deg);
}

.content {
  margin-top: 6rem;
}

.content__all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.content h1 {
  margin-top: 2rem;
  font-family: 'ProximaNova';
  font-size: 35px;
  line-height: 58px;
  color: #2D3A45;
}

.content p {
  margin-top: 2rem;
  font-family: 'ProximaNova';
  font-size: 20px;
  line-height: 28px;
  color: #2D3A45;
}

.content__first {
  width: 40%;
}

.content__first .kok {
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #228BDA;
  border-radius: 3px;
  padding: 10px 20px;
  border: 1px solid gray;
}

.content__first img {
  margin-left: 0.8rem;
}

.content__second {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.content__second .foo2 {
  -webkit-transform: perspective(600px) rotateY(-15deg);
          transform: perspective(600px) rotateY(-15deg);
}

.content .card {
  padding: 10px;
  -webkit-box-shadow: 0 3px 5px 0 black;
          box-shadow: 0 3px 5px 0 black;
  background-color: white;
  z-index: 1;
  position: relative;
  top: 60%;
  left: 20%;
  height: 200px;
}

.content .card ul {
  list-style: none;
  height: auto;
}

.content .card li {
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.content .oval {
  border-radius: 50%;
}

.content .red {
  padding: 3px;
  margin-bottom: 3px;
  background: linear-gradient(147.39deg, #FF8A9C 13.97%, #DB1634 92.67%);
}

.content .yellow {
  padding: 4px;
  margin-bottom: 3px;
  background: linear-gradient(147.39deg, #FFE58D 13.97%, #D98D07 92.67%);
}

.content .green {
  padding: 4px;
  margin-bottom: 3px;
  background: linear-gradient(147.39deg, #BDF77C 13.97%, #549A06 92.67%);
}

.content .blue {
  padding: 3px;
  margin-bottom: 3px;
  background: linear-gradient(147.39deg, #9BD5FF 13.97%, #228BDA 92.67%);
}

.kok {
  border: 1px solid gray;
}

.kok:hover {
  background-color: white;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  color: #228BDA;
  cursor: pointer;
}

button {
  cursor: pointer;
}

.header__hammasi {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 1000px) {
  .header__second img {
    width: 199%;
  }
}

@media (max-width: 899px) {
  .header__hammasi {
    display: block;
  }
  .header__first {
    padding: 0;
  }
  .header__buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header__second {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header__second img {
    width: 100%;
    -webkit-transform: perspective(0) rotateY(0);
            transform: perspective(0) rotateY(0);
  }
  .online__hammasi h1 {
    font-size: 40px;
  }
  .pics__all {
    display: block;
  }
  .pics__first {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .pics__img2 {
    width: 100%;
    -webkit-transform: perspective(0) rotateY(0);
            transform: perspective(0) rotateY(0);
  }
  .pics__second img {
    width: 100%;
  }
  .pics__second {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .content__all {
    display: block;
  }
  .content__first {
    width: 100%;
  }
  .btnt {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .foob {
    width: 200%;
    -webkit-transform: perspective(0px) rotateY(0deg);
            transform: perspective(0px) rotateY(0deg);
  }
  .content__second img {
    width: 100%;
    -webkit-transform: perspective(0) rotateY(0);
            transform: perspective(0) rotateY(0);
  }
  .content .rasm {
    margin-top: 3rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .content .card {
    display: none;
  }
}

@media (max-width: 539px) {
  .nav__btn {
    display: none;
  }
  .kurs {
    display: none;
  }
  .online .online__hammasi {
    width: 100%;
  }
  .online .online__hammasi h1 {
    font-size: 30px;
  }
  .header__first h1 {
    font-size: 30px;
    text-align: center;
  }
  .pics__first {
    margin-bottom: 4rem;
  }
}
/*# sourceMappingURL=style.css.map */