*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

.container{
    width: 90%;
    margin: auto;
}

.background{
  .image10{
      position: absolute;
      left: -8%;
      top: -8%;
      transform: perspective(600px) rotateY(-13deg) ;
      z-index: -1;
  }

}

.nav{
   
    &__hammasi{
        display: flex;
        justify-content: space-between;
        align-items: center;
        
    }

    &__logo, &__kirish{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__btn{
        margin-left: 2rem;
        padding: 8px 20px;
        font-size: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__foo{
        margin-left: 2rem;
    }

    &__tad{
        display: flex;
    }
    
    &__round{
        border-radius: 50%;
    }
}

.header{
    &__hammasi{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    
    margin-top: 3rem;

    &__first{
        padding: 0 18rem 0 0;
        h1{
            font-size: 45px;
        }
    }
    &__buttons{
        display: flex;
        
        align-items: center;
        margin-top: 5rem;
        
    }
    .kok{
        display: flex;
        background-color: #228BDA;
        border-radius: 3px;
        padding: 10px 20px;

        img{
            margin-left:0.8rem ;
        }
    }

    .white{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 2rem;

        img{
            margin-right: 0.8rem;
        }
    }

    &__second{
        position: relative;
        .image1{
            transform: perspective(600px) rotateY(-15deg) ;
            margin-top: 30px;
        }
        .path2{
            position: absolute;
            left: 1%;
            top: 15%;
            
        }
        .group1{
            position: absolute;
            top: 40%;
            left: 70%;
        }
    }
}


.online{
    margin-top: 3rem;
    h1{
        margin-bottom: 2rem;
     text-align: center;
     font-family: 'ProximaNova';
     color: #2D3A45;
    }
    &__hammasi{
        width: 60%;
        margin: auto;

        p{
            font-family: 'ProximaNova';
            font-size: 20px;
            color: #2D3A45;
        }
    }
  
  
}

.pics{
    &__second{
        position: relative;
    }
    margin-top: 6rem;
    &__all{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    &__first{
        position: relative;
    }
     &__img2{
            transform: perspective(600px) rotateY(15deg) ;
        }
        .group2{
            position: absolute;
            left: -30%;
            z-index: -1;
            bottom: -5%;
        }
        .free{
            position: absolute;
            left: 0%;
            top: 75%;
            box-shadow: 10px 15px 20px 0 rgb(226, 222, 222);
        }

        .slayd{
            color: white;
            background: #228BDA;
            box-shadow: 0px 46px 57px rgba(116, 131, 143, 0.765762);
            border-radius: 3.42px;
            position: absolute;
            width: 148px;
            height: 46px;
            left: -8%;
            top: 30%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .natija{
            position: absolute;
            top: 40%;
            left: 80%;
            padding: 10px 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            background: #FFFFFF;
            box-shadow: 0px 38px 48px rgba(116, 131, 143, 0.253879);
            border-radius: 3.42px;
        }

        .number{
            width: 27px;
            height: 27px;
            background: #86BE47;
            box-shadow: 0px 2px 5px rgba(150, 239, 50, 0.668488);
            border-radius: 3.42px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 0.8rem;
            padding: 5px 10px;
            color: white;
        }
        
        .slayd img{
            margin-right: 0.8rem;
        }

        .statistics{
            position: absolute;
            padding: 6px 20px;
            display: inline-block;
            box-shadow: 0 15px 20px 0 rgb(220, 216, 216);
            border-radius: 5px;
            left: 70%;
            top: -11%;
        

            .gr-button{
                background: #86BE47;
                box-shadow: 0px 15px 19px rgba(152, 222, 73, 0.689658);
                border-radius: 2.28px;
                width: 63px;
                height: 43px;
                display: flex;
                justify-content: center;
                align-items: center;
                color: white;
                position: absolute;
                top: -10%;
                left: 75%;
            }
            .rectangles{
                border:1px solid rgb(218, 211, 211);
                padding: 5px;
                border-radius: 5px;
            }
        }
        

}


.content{
    margin-top: 6rem;
    margin-bottom: 30rem;
    &__all{
        display: flex;
        justify-content: space-between;
    }
    h1{
        margin-top: 2rem;
        font-family: 'ProximaNova';
        font-size: 35px;
        line-height: 58px;
        color: #2D3A45;
    }
    p{
        margin-top: 2rem;
        font-family: 'ProximaNova';
        font-size: 20px;
        line-height: 28px;
        color: #2D3A45;
    }

    &__first{
        width: 40%;
        .kok{
            margin-top: 2rem;
            display: flex;
            background-color: #228BDA;
            border-radius: 3px;
            padding: 10px 20px;
            border: 1px solid gray;
        }
        img{
            margin-left: 0.8rem;
        }
    }

    &__second{
        display: flex;
        justify-content: center;
        .foo2{
            transform: perspective(600px) rotateY(-15deg) ;
        }
    }
    .card{
        padding: 10px;
       
        box-shadow: 0 3px 5px 0 black;
        background-color: white;
        z-index: 1;
        position:relative;
        top: 60%;
        left: 20%;
        height: 200px;
        ul{
            list-style: none;
            height: auto;
        }
        li{
            padding: 5px;
            display: flex;
            gap: 10px;
        }
    }
    .oval{
        border-radius: 50%;
    }
    .red{
       
        padding:3px;
        margin-bottom: 3px;
        background: linear-gradient(147.39deg, #FF8A9C 13.97%, #DB1634 92.67%);

    }
    .yellow{
        padding:4px;
        margin-bottom: 3px;
        background: linear-gradient(147.39deg, #FFE58D 13.97%, #D98D07 92.67%);
    }
    .green{
        padding:4px;
        margin-bottom: 3px;
        background: linear-gradient(147.39deg, #BDF77C 13.97%, #549A06 92.67%);
    }
    .blue{
        padding:3px;
        margin-bottom: 3px;
        background: linear-gradient(147.39deg, #9BD5FF 13.97%, #228BDA 92.67%);

    }
}

.kok{
    border: 1px solid gray;
}

.kok:hover{
    background-color: white;
    transition: 0.5s ease;
    color:#228BDA;
    cursor: pointer;
}
button{
    cursor: pointer;
}


.finish{
    margin-top: 15rem;
    padding-top: 3rem;
    margin-bottom: 20rem;
    position: relative;

    .copy{
        position: absolute;
        left: 1%;
    }
    &__all{
        display: flex;
        justify-content: space-between;
        align-items: center;
       

    }
    &__first{
        width: 50%;
        h1{
            text-align: center;
            margin-bottom: 2rem;
        }
        p{
            text-align: center;
            font-size: 20px;
        }
    }

    &__second{
       
        .green-div{
            position: absolute;
            left: 75%;
            top: -50%;
            width: 200px;
            height: 200px;
            background: linear-gradient(152.04deg, #BBFF6E 6.36%, #598F1D 97.81%);
            box-shadow: 0px 38px 48px rgba(134, 190, 71, 0.480879);
            border-radius: 4px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    
        .blue-div{
            position: absolute;
            width: 200px;
            height: 200px;
            left:64%;
            top:100%;
            background: linear-gradient(147.39deg, #9BD5FF 13.97%, #228BDA 92.67%);
            box-shadow: 0px 38px 48px rgba(34, 139, 218, 0.236642);
            border-radius: 4px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .gr-dots{
            position: absolute;
            top:-90% ;
            left: 83%;
            z-index: -1;
        }

        .bl-dots{
            position: absolute;
            left:59%;
            top:145%;
            z-index: -1;
        }
    
    }
    
}



@media (max-width:1000px){
    .header__second img{
      width:199%
    }
    .group1{
        height: 200px;
        position: absolute;
        top: 40%;
        left: 90%;
        
    }

}

@media (max-width:899px){
    .content{
        margin-bottom: 8rem;
    }
    .finish{
        background-color: #C4D0DA;
        padding: 3rem 0;
        margin: 4rem auto;
    }
    .finish__all{
        display: block;
    }
    .finish__second{
        display: none;
    }
    .finish__first{
        width: 100%;
        margin: 0 auto;
    }

    .copy{
        display: none;
    }

    .image10{
        display: none;
    }
    .background{
        background-color: rgb(246,248,250);
    }
    .header__hammasi{
        display: block;
    }
    .header__first{
        padding: 0;
    }
    .header__buttons{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .header__second{
        display: flex;
        justify-content: center;
    }
    .header__second .image1{
        width:100%;
        transform: perspective(0) rotateY(0) ;
      }

      .path2{
        display: none;
        position: absolute;
        left: 1%;
        top: 15%;
        
    }

    .slayd img{
        display: none;
    }
    .free{
       display: none;
    }
    .group2{
        display: none;
    }
    .pics__second .statistics{
       display: none;
    }
    .natija{
        width: 25%;
    }
    .header__second .group1{

        display: none;
    
    }
      .online__hammasi h1{
          font-size: 40px;
      }
      .pics__all{
          display: block;
      }
      .pics__first{
          display: flex;
          justify-content: center;
          align-items: center;
          margin-bottom: 4rem;
      }
      .pics__img2{
        width:100%;
        transform: perspective(0) rotateY(0) ;
      }
      .pics__second img{
        width:100%;
      }
      .pics__second{
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .content__all{
          display: block;

      }
      .content__first{
          width: 100%;
      }
      .btnt{
          display: flex;
          justify-content: center;
      }
      .rasm .foob{
        transform: perspective(0px) rotateY(0deg) ;
        width: 300px;
      }
      .content__second img{
      width: 100%;
      transform: perspective(0) rotateY(0) ;}
      .content .rasm{
          margin-top: 3rem;
          display: flex;
          justify-content: center;
          align-items: center;
      }
      .content .card{
          display: none;
      }
    }

    @media (max-width:539px){
        .nav__btn{
            display: none;
        }
        .kurs{
            display: none;
        }
        .online .online__hammasi{
            width: 100%;
        }
        .online .online__hammasi h1{
            font-size: 30px;
        }
        .header__first h1{
            font-size: 30px;
            text-align: center;
        }
        .pics__first{
            margin-bottom: 4rem;
        }
    }